.homewall-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wall-center {
    display: flex;
    justify-content: center;
}

.wall {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 1px solid white;
    border-radius: 3px;
    min-width: 400px;
    width: 400px;
    flex-shrink: 0;
}

.item {
    display: flex;
    width: 10%;
    padding-bottom: 1%; /* Same as width, sets height */
    margin-bottom: 3%; /* (100-32*3)/2 */
    position: relative;

    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex: 1 0 auto;

    cursor: pointer;
}