.crimp {
    height: 25px;
    width: 30px;
}

.jug {
    height: 40px;
    width: 35px;
}

.sloper {
    height: 25px;
    width: 25px;
}

.footchip {
    height: 20px;
    width: 20px;
    scale: .5;
}

.footchip3 {
    height: 20px;
    width: 20px;
    scale: .78;
}

.pinch {
    height: 40px;
    width: 40px;
    scale: 1;
}