.wall-container {
    display: flex;
    border: 1px solid white;
    height: 600px;
    width: 480px;
    border-radius: 5px;
}


.wall {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 40px;
}

.site {
    cursor: pointer;
    min-width: 40px;
    min-height: 40px;
    justify-content: center;
    align-items: center;
}

.home-wall {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homewall-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}