.hold-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px;
    width: 200px;
    min-width: 200px;
    height: 300px;
    min-height: 300px;
}

.hold-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.holds-button {
    width: 5rem;
    height: 2.5rem;
}

.holds-options-container {
    display: relative;
    margin-top: 10px;
}

.holds-options {
    position: relative;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}